<ul class="nav nav-pills nav-stacked">
    {% for ad in ads %}
        <li>
            <a href="{{ path('openclassroomscourse_platform_view', {'id': ad.id}) }}">
                {{ ad.title }}
            </a>
        </li>
    {% endfor %}
</ul>