{% extends "OpenClassroomsCoursePlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Advertisement with id {{ id }}{% endblock %}

{% block body %}
    <h1>Showing advertisement with id: {{ id }}!</h1>
{% endblock %}
